


@media (min-width: 15rem) {
    .detail__product {
        width: 75%;
    }
    .productCard__details__productCard__details__button {
        margin-left: 3rem;
        margin-top: 5rem;
    }
    .detail {
        font-weight: 800;
        margin-left: 20rem;
    }
    .list-group-item {
        margin-top: 10rem;
    }
  }
  
  @media (min-width: 45.5rem) {
    .detail__product {
        width: 40%;
    }
    .list-group-item {
        margin-top: 0rem;
    }
  }
  @media (min-width: 70.5rem) {
    .detail__product {
        width: 25%;
    }
  }
  