<div>
    <div>
        <strong>Producten in winkelmand</strong>
    </div>
<div *ngIf="products.length > 0; else noProductsInCart">
       <app-shopping-cart-list-item *ngFor="let product of products; let i = index" [product]="product" [index]="i" (remove)="onRemoveItemFromList($event)"></app-shopping-cart-list-item>
        <button class="button" (click)="bestellen()">Bestel</button>
</div>

<ng-template #noProductsInCart>
    <div>
        <div>
            <strong>Er zijn geen producten in winkelmand. Voeg een product toe.</strong>
        </div>
    </div>
</ng-template>
